.maincontents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow 속성 적용*/
    overflow: auto;
    height: 95%;
}
.gallery-contents {
	width:90%;
	border:1px solid black;
	border-radius:10px;
	padding:5px;

}
.gray-text {
    width: 90%;
    border-radius: 1%;
}
.main_img {
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
	border:1px solid black;
	overflow:hidden;
}
#imgFile2 {
	width:200px;
}
.gray-text input {
	width:100%;
}
.mirivogi {
	width:500px;
	height:300px;
	overflow:hidden;
}

.mirivogi img{
    width: 100%;
    height:100%;
    object-fit:contain;
}
.detail {
    width: 90%;
    margin-bottom:10px;
}
.detail textarea {
	width:100%;
}
.section2photo textarea {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.photoimg {
    width: 25%;
    height: 157px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 20px;
}
.photoimg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.writeButton {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.asidePhoto {
    position: relative;
    width: 28%;
    float: left;
    height: 95%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
  }
.sectionPhoto {
    position: relative;
    float: right;
    width: 70%;
    height: 95%;
}
.profilePhoto {
    display: flex;
    flex-flow: column;
    padding: 5px;
}
.profilePhoto div input {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;    
}
.profilePhoto img {
    border: 1px solid black;
    border-radius: 20px;
}
.photoContents {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
}
.reviseBtn {
    margin-right: 10px;
}
.writeBtn {
	display:flex;
	justify-content:end;
	margin-right:10%;
}